
/*basic styling */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color:#006DB7;
}

.logo img {
   padding: 1.875rem 0 3.125rem 6.25rem;
    max-width: 50vh;
    max-height: 15.625rem;
}

.nav-paragraph {
    margin-left: 15.625rem;
    margin-right: 3.125rem;
    font-weight: bold;
    font-size: 1.375rem;
    padding: 1.875rem 3.125rem 0 6.25rem;
    text-align: right;
    float: right;
    line-height: 1.5em;
}
mark {
    background-color: #F6F6F6;
}
